{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>postShow</h1>
    {% if messages %}
      {% for message in messages %}
        <div>{{ message.message }}</div>
      {% endfor %}
    {% endif %}
    <div class="list-container">
      <div class="list-item">id</div>
      <div class="list-item">title</div>
      <div class="list-item">content</div>
    </div>
    <hr>
    <div class="list-container">
        <div class="list-item">{{ post.id }}</div>
        <div class="list-item">{{ post.title }}</div>
        <div class="list-item">{{ post.content }}</div>
        {% if post.user_id == request.user.id %}
          <div class="list-item">
            <a href="{% url 'posts:update' post.id %}">update</a>
          </div>
          <div class="list-item">
            <a href="{% url 'posts:delete' post.id %}" class="delete-post">delete</a>
          </div>
        {% endif %}
      </div>
      <hr>
      {% include "comments/store.html" with post_id=post.id %}
      {% include "comments/index.html" with comments=comments %}
  {% endif %}
{% endblock %}